%li
  = link_to help_fragment.title, show_help_path(help_fragment.stub)
  = link_to 'Delete', destroy_help_path(help_fragment.id), :class => 'control delete' if current_admin_user
  = link_to 'Edit', edit_help_path(help_fragment.id), :class => ' control edit' if current_admin_user
