%div{:id => 'dashboard_key_actions', :class => 'key_container'}
  = render :partial => 'ideas/compact_idea_form'
  #introduction{:class => 'col50 text right'}
    = t('body_text.dashboard.introduction')
#ideas
  = render :partial => "ideas/ideas_list_heading"
  = render :partial => "ideas/ideas_listing"

