.idea-title-container
  %span{:class => 'no-input'}
    = @idea.title
  = link_to "Edit", edit_idea_url(@idea), :class => 'edit bar-button'
  = link_to "Print", print_idea_url(@idea), :class => 'print bar-button'


.idea-body-container
  = raw @idea.body

