/* CSS Document
    Filename: application.css
    Author: Joshua McArthur
    Purpose: Provides global styling of the master layout page
*/

/* TAG STYLES */
html { height: 100%; }
body { height: 100%; background-color: #E1E1E1; font-size: 16px; font-family: Arial, Helvetica, sans-serif;}
br.clearfix { clear:both; }
div.wrapper { height: auto; display: block; }
.show_if_js { display: none; }


/* END TAG STYLES */

/* MASCOT STYLES */
img.acorns { border: 0; }
img.acorns.new_idea { float: right; margin-right: 1%; margin-top: -2%; }
img.acorns.login { float: right; margin: 2%; }
img.acorns.search { float: right; margin: 1%; }
img.acorns.send_invitation { float: right; margin: 2%; }
/* END MASCOT STYLES */

/* TAG-CLASS STYLES */
div.col70 {width: 70%; float: left;}
div.col30 {width: 25%; float: left;}
div.col40 {width: 35%; float: left; }
div.col50 {width: 45%; float: left;}
div.col60 {width: 55%; float: left;}

em.tagline {font-family: 'KontrapunktLight', serif; font-style: normal; font-size: 1.7em; color: #333; margin: 0px 0px 15px 0px;}

h2.key-action {font-family: 'UbuntuBold', Arial, Helvetica, sans-serif; font-size: 3em; color: #333; text-transform: uppercase;}

h1.key {display: inline; font-family: 'UbuntuBold', Arial, Helvetica, sans-serif; font-size: 36px; color: #d99e9a;}


/* Signup button */
a.key-submit, input.key-submit { display: block; border: 0; width: 180px; margin: 2% 0 2% 8%; background: #b7e0ce; color: #222; text-decoration: none; font-size: 1.25em; font-weight: bold; height: 38px; float: left; text-align: center; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;  -o-border-radius: 5px behavior: url(ie-css3.htc);
 }

a.key-submit:link, a.key-submit:visited {
    color: #FFF;
    background-color: #6d84b4;
    transition: color .1s linear, background-color .1s ease-in;
    -webkit-transition: color .1s linear, background-color .1s ease-in;
    -moz-transition: color .1s linear, background-color .1s ease-in;
    -o-transition: color .1s linear, background-color .1s ease-in;
}

a.key-submit:hover, input.key-submit:focus, input.key-submit:hover {
    color: #000;
    box-shadow: 0 0 5px 5px #666; -webkit-box-shadow: 0 0 5px 2px #666; -moz-box-shadow: 0 0 5px 5px #666; -o-box-shadow: 0 0 5px 5px #666; behaviour: url(ie-css3.htc);
    transition: color .1s linear, box-shadow .1s ease-in;
    -webkit-transition: color .2s ease-in, -webkit-box-shadow .2s ease-in;
    -moz-transition: color .1s linear, -moz-box-shadow .1s ease-in;
    -o-transition: color .1s linear, -o-box-shadow .1s ease-in;
}

a.key-submit.small, input.key-submit.small { width: 100px; margin: 2% 8% 2% 0; line-height: 20px; float: right; }

div.key_container {background: #AAA url(../images/texture.png) repeat top left; border-radius: 5px; -moz-border-radius: 5px;-webkit-border-radius: 5px; border: solid 3px #0e2825; width: 90%; height: auto; min-height: 200px; margin: 5% auto; overflow: hidden;}
div.heading-container { background-color: #2c2825; padding: 2%; width: 96%; }
div.heading-container div { float: right; margin-top: -1%; }
div.heading-container div form { float: left; height: 50px; line-height: 50px; margin: auto; }

div.flash { border: solid 2px #2c2825; font-family: 'GentiumBasicRegular', serif; font-size: 1.2em; margin: 2% auto; width: 80%; padding: 2% 5%; color: #222; border-left: solid 10px #2c2825; }
div.flash.notice { background-color: #b7e0ce; }
div.flash.error, div.flash.alert { background-color: #d99e9a; }
a.search { width: 50px; height: 50px; background: transparent url(../images/search.png) no-repeat; float: right; display: block; color: transparent; }
a.search:hover { width: 50px; height: 50px; background: transparent url(../images/search_hover.png) no-repeat }
div.pagination-wrapper { width: 80%; padding: 2% 10%; height: 20px; line-height: 20px; background-color: #CCC; }
div.pagination { float: right; font-family: 'GentiumBasicRegular', serif;}
div.pagination .previous_page { padding-right: 10px; text-decoration: none; font-size: 1.0em; color: #222;}
div.pagination .disabled { color: #999; }
div.pagination .next_page { text-decoration: none; padding-left: 10px; color: #222;}
div.pagination a.next_page[rel=next], div.pagination a.next_page { font-size: 1.0em !important; }
div.pagination a.previous_page[rel=prev], div.pagination a.previous_page { font-size: 1.0em; }
div.pagination a.next_page:hover, div.pagination a.previous_page:hover { text-decoration: underline; font-size: 1.0em;}
div.pagination em { text-decoration: underline; font-style: normal; color: #222; font-size: 1.2em; padding: 0 2px; }
div.pagination a { text-decoration: none; color: #222;}
div.pagination a[rel=next], div.pagination a[rel=prev] { font-size: 1.2em; }
div.pagination a:hover, div.pagination a[rel=next]:hover, div.pagination a[rel=prev]:hover { text-decoration: underline; }

div.pagination em { clear: both; }
div.idea-title-container
{
    width: 80%;
    padding: 2% 10%;
    margin: 2% auto;
    background-color: #CCC;
    height: 30px;
    color: transparent;
}
div.idea-title-container span.no-input
{
    font-family: 'GentiumBasicRegular0.8', serif;
    font-size: 30px;
    line-height: 30px;
    color: #2c2825;
    font-style: italic;
    min-width: 80%;
}

div.idea-title-container span.input input
{
    border: solid 1px #777;
    font-size: 28px;
    background-color: #E1E1E1;
    color: #222;
    width: 80%;
    line-height: 30px;
    font-family: 'GentiumBasicRegular', serif;
    padding: 0 2%;
    margin: 0;
}

div.idea-title-container span.input input:focus { background-color: #FFF; }

div.idea-title-container:hover
{
    color: #999;
}
div.idea-body-container { margin: 5% 10%;}
span.change-title-trigger
{
    float: right;
    font-family: 'GentiumBasicRegular', serif;
    color: inherit;
    font-size: 16px;
    line-height: 30px;
}
h6.sublink-heading { clear: both; margin: 4% 0 0 0; padding: 0; font-weight: normal; color: #333; font-family: 'GentiumBasicRegular', 'Times New Romain', serif; text-decoration: none; font-size: 0.85em; line-height: 0.9em;}
ul.sublinks { list-style: none; display: block; clear: both; width: 100%; text-align: center; }
ul.sublinks li { display: inline; font-size: 0.7em; }
ul.sublinks li a { font-family: 'GentiumBasicRegular', 'Times New Roman', sans-serif; color: #333; font-style: italic; text-decoration: none; }
ul.sublinks li a:hover { text-decoration: underline; }

ul.statistics {
color: #333;
display: block;
font-family: KontrapunktLight, 'Times New Romain', serif;
font-size: 1.15em;
font-weight: bold;
list-style: none;
padding: 5px 0px;
text-shadow: white
}

/* END TAG-CLASS STYLES */

/* ABSTRACT CLASS STYLES */
.inset {text-shadow: 0px 1px 0px #EEE;}
.inset-dark {text-shadow: 0px -1px 0px #222;}
.push-in { -moz-box-shadow: -1px -1px 1px #333; -webkit-box-shadow: -1px -1px 1px #666; box-shadow: -1px -1px 1px #333;}
.idea-body { min-height: 380px; margin: 5% auto; }
.cke_editor_idea_body_editor { margin: 5% auto 0% auto; }
/* END ABSTRACT CLASS STYLES */

/* KEY LAYOUT STYLES */
div.container { width: 960px; margin: 25px auto; padding: 0;}
div.container div.page-area {width: 80%; padding: 5% 0%; margin: auto; min-height: 500px; height: auto; background: #fff; position: relative;}
/* END KEY LAYOUT STYLES */

/* HEADER STYLES */
div#page-header {width: 96%; padding: 2%; height: 65px; background: #2c2825; background: -webkit-gradient(linear, left top, left bottom, from(#2c2825), to(#44403d)); background: -moz-linear-gradient(top, #2c2825, #44403d); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2825', endColorstr='#44403d'); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2825', endColorstr='#44403d')";}

div#page-header div#header-branding {margin-right: 15px; font: 1.8em 'UbuntuBold', Arial, sans-serif !important; font-weight: bold !important; display: inline;}
div#page-header div#header-branding a.home { text-decoration: none; float: left; }
div#page-header div#header-branding h1 {display: inline; font-size: 2.0em; letter-spacing: -0.1em !important;}

div#page-header div#header-branding h1#write_text {color: #afbb95; margin-left: 25px;}
div#page-header div#header-branding h1#ideally_text {color: #b7e0ce;}

/* END HEADER */

/* NAVIGATION */
div#page-header ul.primary-links {float: right; list-style: none; display: inline; padding: 0; margin-top: 2.2em; font-weight: normal; font-size: 1.05em;}
div#page-header ul.primary-links li {display: inline; margin: 0 7px; padding: 0; font-weight: normal;}
div#page-header ul.primary-links li a {font-family: 'GentiumBasicRegular', serif; color: #D99E9A; text-decoration: none; }
div#page-header ul.primary-links li a:hover {border-bottom: dashed 2px #b7e0ce;}
/* END NAVIGATION */



/* FOOTER STYLES*/
#footer
{ margin: 2% auto 1% auto; font-family: 'GentiumBasicRegular', Times New Roman, serif; font-size: 0.8em; color: #333; padding: 2% 5% 0px; clear: both;}
#footer .left { text-align: left; width: 60%; padding-top: 2%; }
#footer .right { text-align: right; width: 39%; padding-bottom: 30px;}
#footer .right img { float: right; display: block; clear: both;}
#footer .right a { clear: both; display: block; color: #222; text-decoration: none; }
/* END FOOTER STYLES */

/* DASHBOARD STYLES */
.key_container .col50.right.text {height: auto; min-height: 150px; padding: 3% 3% 3% 5%; border-left: dashed 3px #44403D;}
.right.text { font-family: 'GentiumBasicRegular', serif; font-size: 1.2em; color: #111; line-height: 1.5em; }


#dashboard_key_actions #new-idea em.tagline {display: block; margin: 15% 10% 5% 10%;}
label.important { display: block; font-family: 'GentiumBasicRegular', serif; font-style: italic; font-size: 1.1em; line-height: 1.3em; color: #000; margin: 2% auto; padding: 0% 2%; width: 85%;}
.invisible { visibility: hidden; }
input.text.important {display: block; font-family: 'GentiumBasicRegular', serif; font-size: 1.3em; line-height: 1.5em; color: #222; border: solid 1px #777; background-color: #CCC; margin: 0% auto 2% auto; padding: 0.4em; width: 80%}
input.search.important { padding: 3%;  background-color: #666; border: 1px solid #333; font-size: 18px; color: #E1E1E1; font-family: 'GentiumBasicRegular';}

input.password.important {display: block; font-family: 'GentiumBasicRegular', serif; font-size: 1.3em; line-height: 1.5em; color: #222; border: solid 1px #777; background-color: #fffed0; margin: 2% auto; padding: 0.4em; width: 80%}

input.text.important:focus, input.password.important:focus {background-color: #FFF;}
input.search.important:focus, input.search.important:focus {background-color: #E1E1E1; color: #222; }

/* END DASHBOARD STYLES */

/* IDEA LISTING STYLES */
#ideas { width: 90%; margin: 5% auto; }
#ideas ul#ideas-list { width: 100%; margin: 0; padding: 0; list-style: none; }
#ideas ul#ideas-list li { display: block; width: 85%; height: 50px; overflow: hidden; padding: 0 5% 0 65px; margin: 2% 0;  line-height: 50px; height: 50px; color: #333; background: #b7e0ce url(../images/misc/idea_line_left_bullet.png) no-repeat; }
#ideas ul#ideas-list li div.idea-title {float: left; font-family: 'GentiumBasicRegular', serif; font-size: 1.4em; }
#ideas ul#ideas-list li div.idea-title a { color: #333; text-decoration: none; }
#ideas ul#ideas-list li div.controls { display: inline; float: right; }
#ideas ul#ideas-list li div.controls form, #ideas ul#ideas-list li div.controls input { display: inline; }
#ideas ul#ideas-list li div.controls a { font-family: 'GentiumBasicRegular', serif; font-size: 1.2em; font-style: italic; padding: 8px; text-decoration: none;}
#ideas ul#ideas-list li div.controls a:hover { font-style: normal;}
#ideas ul#ideas-list li div.controls a.tags-link { color: #333; }
#ideas ul#ideas-list li div.controls a.edit-link { color: #666; }
#ideas ul#ideas-list li div.controls a.edit-link:hover, #ideas ul#ideas-list li div.controls a.delete-link:hover { color: #222; }
#ideas ul#ideas-list li div.controls a.delete-link { color: #999; }
div.qtip-content ul.tags { list-style: circle inside; }

/* END IDEA LISTING STYLES */

/* WELCOME BANNER */
.welcome.message { font-family: 'GentiumBasicRegular', 'Times New Roman', serif; font-size: 1.4em; color: #333; font-style: italic; margin: 2% 2%; }
.welcome.banner { width: 100%; margin: 0; padding: 0; background-color: #AAA; border-top: 3px dashed #44403D; border-bottom: 3px dashed #44430D; height: 300px; }
div.col30 { float: left; margin: 3%; }
/* END WELCOME BANNER */

/* SIGNUP PAGE */
#signup_form, #edit_registration_form { background-color: #EEE; margin-top: 2%; margin-left: 2%; padding: 2.5% 0; }
#signup_body_text, #edit_registration_body_text { margin: 2% 2% 2% 0; background-color: #DDD; padding: 2.5%; border-left: 3px dashed #2c2825;  }
/* END SIGNUP PAGE */

/* ERROR AREAS */
#error_explanation { width: 80%; padding: 2%; margin: 2% auto; background-color: #f1d3d1; border: solid 2px #d99e9a; }
#error_explanation h2 { display: none; }
#error_explanation ul { list-style: none; }
#error_explanation li { font-family: 'GentiumBasicRegular', 'Times New Roman', serif; font-size: 1.0em; line-height: 1.2em; color: #222; }

a.bar-button { float: right; background: transparent no-repeat top center; color: #444; text-decoration: none; padding-top: 30px; font-size: 0.7em; width: 35px; text-align: center; margin-top: -1%; }
a.bar-button:hover { text-decoration: underline; color: #222; }
a.bar-button.print { background-image: url(../images/print.png)}
a.bar-button.print:hover { background-image: url(../images/print_hover.png);}
a.bar-button.edit { background-image: url(../images/edit.png)}
a.bar-button.edit:hover { background-image: url(../images/edit_hover.png);}
a.bar-button.tags { background-image: url(../images/tags.png)}
a.bar-button.tags:hover { background-image: url(../images/tags_hover.png)}

/* TAGS */
div.tagsinput { margin: 1% 5% 0 10%; }
.idea-tags-container label
{
    display: block;
    font-size: 1.3em;
    color: #222;
    font-family: 'GentiumBasicRegular', serif;
    background: transparent url(../images/tags.png) no-repeat top left;
    padding-left: 35px;
    height: 30px;
    line-height: 30px;
    margin-left: 5%;
}

/* EDIT ACCOUNT */
#edit_registration_form #cancel-account { margin: 5% auto; width: 80%; background: #d99e9a; padding: 2%; clear: both; color: #222; border: solid 1px #999; }
#edit_registration_form #cancel-account h3 { font-family: 'GentiumBasicRegular', 'Times New Roman', serif; font-size: 1.2em; color: #222; font-style: italic; margin: 1% auto;}
#edit_registration_form #cancel-account p { font-family: 'GentiumBasicRegular', serif; font-size: 1.0em; color: #111; }
#edit_registration_form #cancel-account p a { color: #000; }
div.no-ideas
{background-color: #D99E9A; border: 10px solid #CCC; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; behavior: url(ie-css3.htc); color: #222; font-family: GentiumBasicRegular, serif; font-size: 1.5em; margin: 2% auto; padding: 5%; width: 80%;}
div.no-ideas a { color: #000; }
#about-page div.col50 { margin: 1%; }
#about-page div.col50 { padding: 1%; color: #222; }
#about-page div.col50.left h3 { font-family: 'KontrapunktLight', 'Arial', sans-serif; margin-bottom: 2%; font-size: 1.2em; clear: both; }
#about-page div.col50.left div.contact { margin: 2% 7%; clear: both; }
#about-page div.col50.left div.attribution { margin: 2% 7%; clear: both; font-family: 'GentiumBasicRegular', 'Georgia', 'Times New Romain', serif; }
#about-page div.col50.left div.attribution ul { font-size: 1.1em; list-style: disc inside; margin: 2% auto; width: 90%;}
#about-page div.col50.left div.attribution ul li { margin: 3% auto; }
#about-page div.col50.left div.attribution ul li a:link, #about-page div.col50.left div.attribution ul li a:visited { color: #000; }
#about-page div.col50 textarea { display: block; margin: 1% 7%; width: 84%; height: 100px; }
#about-page div.col50.left { background-color: #EFEFEF; border-right: dashed 3px #2c2825; }

