input.button
{
    display: inline;
    line-height: 30px;
    min-width: 150px;
    
    /* Fallback for older browsers */
    background-color: #2c2825;
    border: none;
    padding: 5px;
    
    /* Text styles */
    font-family: 'UbuntuBold', sans-serif;
    font-size: 24px;
    color: #999;
    
    float: right;
    /* CSS3 */
    background: -webkit-gradient(linear, top left, bottom left, from(#514a45), to(#2c2825));
    background: -moz-linear-gradient(90deg, #514a45, #2c2825);
    box-shadow: 0px 0px 5px #888;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
}

input#idea_submit.button:hover
{
    color: #b7e0ce;
    box-shadow: 0px 0px 10px #333;
    -moz-box-shadow: 0px 0px 10px #333;
    -webkit-box-shadow: 0px 0px 10px #333;
}
    
