body { font-size: 14px; color: #000; }
div.container { width: 100%; margin: 5%; }
#write-ideally-heading { font-family: 'UbuntuBold', serif; font-size: 40px; color: #333; letter-spacing: -1px; font-weight: bold; }

