#welcome-banner { height: 300px; width: 100%; margin: 5% auto 2% auto; background-color: #CCC; }
#welcome-banner #hello { background-color: #D1D1D1; float: left; width: 45%; }
#welcome-banner #carousel { background-color: #999; float: left; width: 45%; }
#keyfeatures { margin: 2.5%; background-color: #CCC; min-height: 300px; }
#keybuttons { margin: 2.5%; background-color: #DDD; min-height: 300px; }


a.facebook-button { width: 180px; margin: 2% 0 2% 8%; background: #6d84b4; height: 28px; color: #EFEFEF; text-decoration: none; font-size: 0.8em; font-weight: bold; line-height: 28px; float: left; padding: 5px; text-align: center; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;  -o-border-radius: 5px;
 }

a.facebook-button:link, a.facebook-button:visited {
    color: #FFF;
    background-color: #6d84b4;
    transition: color .1s linear, background-color .1s ease-in;
    -webkit-transition: color .1s linear, background-color .1s ease-in;
    -moz-transition: color .1s linear, background-color .1s ease-in;
    -o-transition: color .1s linear, background-color .1s ease-in;
}

a.facebook-button:hover {
    color: #EFEFEF;
    background-color: #3b5998;
    transition: color .1s linear, background-color .1s ease-in;
    -webkit-transition: color .2s ease-in, background-color .2s linear;
    -moz-transition: color .1s linear, background-color .1s ease-in;
    -o-transition: color .1s linear, background-color .1s ease-in;
box-shadow: 0 0 5px 5px #888; -webkit-box-shadow: 0 0 5px 2px #888; -moz-box-shadow: 0 0 5px 5px #888; -o-box-shadow: 0 0 5px 5px #333;
}

