/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	letter-spacing: 0px;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS Document
    Filename: fonts`.css
    Author: Joshua McArthur
    Purpose: A clean way of including a custom font required for the header into all pages
*/

body { -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; }

@font-face {
	font-family: 'UbuntuBold';
	src: url('fonts/Ubuntu-B-webfont.eot');
	src: local('☺'), url('fonts/Ubuntu-B-webfont.woff') format('woff'), url('fonts/Ubuntu-B-webfont.ttf') format('truetype'), url('fonts/Ubuntu-B-webfont.svg#webfontssbCkuz5') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GentiumBasicRegular';
	src: url('fonts/GenBasR-webfont.eot');
	src: local('☺'), url('fonts/GenBasR-webfont.woff') format('woff'), url('fonts/GenBasR-webfont.ttf') format('truetype'), url('fonts/GenBasR-webfont.svg#webfontLblSsz1O') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KontrapunktLight';
	src: url('fonts/Kontrapunkt-Light-webfont.eot');
	src: local('☺'), url('fonts/Kontrapunkt-Light-webfont.woff') format('woff'), url('fonts/Kontrapunkt-Light-webfont.ttf') format('truetype'), url('fonts/Kontrapunkt-Light-webfont.svg#webfontLblSsz1O') format('svg');
	font-weight: normal;
	font-style: normal;
}



/* CSS Document
    Filename: application.css
    Author: Joshua McArthur
    Purpose: Provides global styling of the master layout page
*/

/* TAG STYLES */
html { height: 100%; }
body { height: 100%; background-color: #E1E1E1; font-size: 16px; font-family: Arial, Helvetica, sans-serif;}
br.clearfix { clear:both; }
div.wrapper { overflow: hidden; }
div.wrapper div { padding-bottom: 2000px; margin-bottom: -2000px; }

/* END TAG STYLES */

/* MASCOT STYLES */
img.acorns { border: 0; }
img.acorns.new_idea { float: right; margin-right: 1%; margin-top: -2%; }
img.acorns.login { float: right; margin: 2%; }
img.acorns.search { float: right; margin: 1%; }
img.acorns.send_invitation { float: right; margin: 2%; }
/* END MASCOT STYLES */

/* TAG-CLASS STYLES */
div.col70 {width: 70%; float: left;}
div.col30 {width: 25%; float: left;}
div.col40 {width: 35%; float: left; height: 100%;}
div.col50 {width: 45%; float: left;}
div.col60 {width: 55%; float: left; display: table-cell; height: 100%;}

em.tagline {font-family: 'KontrapunktLight', serif; font-style: normal; font-size: 1.7em; color: #333; margin: 0px 0px 15px 0px;}

h2.key-action {font-family: 'UbuntuBold', Arial, Helvetica, sans-serif; font-size: 3em; color: #333; text-transform: uppercase;}

h1.key {display: inline; font-family: 'UbuntuBold', Arial, Helvetica, sans-serif; font-size: 36px; color: #d99e9a;}
input.key-submit {display: block; float: right; margin-right: 10%; width: 155px; height: 55px; border: none; padding-top: 10px; font-size: 1.3em; color: #444; font-weight: bold; background: transparent url(../images/forms/submit_background.png) no-repeat;}
input.key-submit:focus, input.key-submit:hover { color: #000; background: transparent url(../images/forms/submit_background_hover.png) no-repeat; }
input.key-submit.small { display: block; float: right; margin-right: 8%; clear: left; font-size: 1.0em; color: #444; font-weight: bold; background-image: none; background-color: #b7e0ce; width: auto; padding: 0 2%; height: 1.2em; line-height: 1.2em; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; margin-bottom: 2%; border: dashed 1px #999; }
div.key_container {background: #AAA url(../images/texture.png) repeat top left; border-radius: 5px; -moz-border-radius: 5px;-webkit-border-radius: 5px; border: solid 3px #0e2825; width: 90%; height: auto; min-height: 200px; margin: 5% auto; overflow: hidden;}
div.heading-container { background-color: #2c2825; padding: 2%; width: 96%; }
div.flash { border: solid 2px #2c2825; font-family: 'GentiumBasicRegular', serif; font-size: 1.2em; margin: 2% auto; width: 80%; padding: 2% 5%; color: #222; border-left: solid 10px #2c2825; }
div.flash.notice { background-color: #b7e0ce; }
div.flash.error { background-color: #d99e9a; }
a.search { width: 50px; height: 50px; background: transparent url(../images/search.png) no-repeat; float: right; display: block; margin-top: -1%; }
a.search:hover { width: 50px; height: 50px; background: transparent url(../images/search_hover.png) no-repeat }
div.pagination-wrapper { width: 80%; padding: 2% 10%; height: 20px; line-height: 20px; background-color: #CCC; }
div.pagination { float: right; font-family: 'GentiumBasicRegular', serif;}
div.pagination .previous_page { padding-right: 10px; text-decoration: none; font-size: 1.0em; color: #222;}
div.pagination .disabled { color: #999; }
div.pagination .next_page { text-decoration: none; padding-left: 10px; color: #222;}
div.pagination a.next_page[rel=next], div.pagination a.next_page { font-size: 1.0em !important; }
div.pagination a.previous_page[rel=prev], div.pagination a.previous_page { font-size: 1.0em; }
div.pagination a.next_page:hover, div.pagination a.previous_page:hover { text-decoration: underline; font-size: 1.0em;}
div.pagination em { text-decoration: underline; font-style: normal; color: #222; font-size: 1.2em; padding: 0 2px; }
div.pagination a { text-decoration: none; color: #222;}
div.pagination a[rel=next], div.pagination a[rel=prev] { font-size: 1.2em; }
div.pagination a:hover, div.pagination a[rel=next]:hover, div.pagination a[rel=prev]:hover { text-decoration: underline; }

div.pagination em { clear: both; }
div.idea-title-container
{
    width: 80%;
    padding: 2% 10%;
    margin: 2% auto;
    background-color: #CCC;
    height: 30px;
    color: transparent;
}
div.idea-title-container span.no-input
{
    font-family: 'GentiumBasicRegular', serif;
    font-size: 30px;
    line-height: 30px;
    color: #2c2825;
    font-style: italic;
    min-width: 80%;
}

div.idea-title-container span.input input
{
    border: solid 1px #777;
    font-size: 28px;
    background-color: #E1E1E1;
    color: #222;
    width: 80%;
    line-height: 30px;
    font-family: 'GentiumBasicRegular', serif;
    padding: 0 2%;
    margin: 0;
}

div.idea-title-container span.input input:focus { background-color: #FFF; }

div.idea-title-container:hover
{
    color: #999;
}
div.idea-body-container { margin: 5% 10%;}
span.change-title-trigger
{
    float: right;
    font-family: 'GentiumBasicRegular', serif;
    color: inherit;
    font-size: 16px;
    line-height: 30px;
}
h6.sublink-heading { clear: both; margin: 4% 0 0 0; padding: 0; font-weight: normal; color: #333; font-family: 'GentiumBasicRegular', 'Times New Romain', serif; text-decoration: none; font-size: 0.85em; line-height: 0.9em;}
ul.sublinks { list-style: none; display: block; clear: both; width: 100%; text-align: center; }
ul.sublinks li { display: inline; font-size: 0.7em; }
ul.sublinks li a { font-family: 'GentiumBasicRegular', 'Times New Roman', sans-serif; color: #333; font-style: italic; text-decoration: none; }
ul.sublinks li a:hover { text-decoration: underline; }

ul.statistics {
color: #333;
display: block;
font-family: KontrapunktLight, 'Times New Romain', serif;
font-size: 1.15em;
font-weight: bold;
list-style: none;
padding: 5px 0px;
text-shadow: white
}

/* END TAG-CLASS STYLES */

/* ABSTRACT CLASS STYLES */
.inset {text-shadow: 0px 1px 0px #EEE;}
.inset-dark {text-shadow: 0px -1px 0px #222;}
.push-in { -moz-box-shadow: -1px -1px 1px #333; -webkit-box-shadow: -1px -1px 1px #666; box-shadow: -1px -1px 1px #333;}
.idea-body { min-height: 380px; margin: 5% auto; }
.cke_editor_idea_body_editor { margin: 5% auto 0% auto; }
/* END ABSTRACT CLASS STYLES */

/* KEY LAYOUT STYLES */
div.container { width: 960px; margin: 25px auto; padding: 0;}
div.container div.page-area {width: 80%; padding: 5% 0%; margin: auto; min-height: 500px; height: auto; background: #fff;}
/* END KEY LAYOUT STYLES */

/* HEADER STYLES */
div#page-header {width: 96%; padding: 2%; height: 65px; background: #2c2825; background: -webkit-gradient(linear, left top, left bottom, from(#2c2825), to(#44403d)); background: -moz-linear-gradient(top, #2c2825, #44403d); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2825', endColorstr='#44403d'); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2825', endColorstr='#44403d')";}

div#page-header div#header-branding {margin-right: 15px; font: 1.8em 'UbuntuBold', Arial, sans-serif !important; font-weight: bold !important; display: inline;}
div#page-header div#header-branding a.home { text-decoration: none; float: left; }
div#page-header div#header-branding h1 {display: inline; font-size: 2.0em; letter-spacing: -0.1em !important;}

div#page-header div#header-branding h1#write_text {color: #afbb95; margin-left: 25px;}
div#page-header div#header-branding h1#ideally_text {color: #b7e0ce;}

/* END HEADER */

/* NAVIGATION */
div#page-header ul.primary-links {float: right; list-style: none; display: inline; padding: 0; margin-top: 2.2em; font-weight: normal; font-size: 1.05em;}
div#page-header ul.primary-links li {display: inline; margin: 0 7px; padding: 0; font-weight: normal;}
div#page-header ul.primary-links li a {font-family: Georgia, serif; color: #D99E9A; text-decoration: none; }
div#page-header ul.primary-links li a:hover {border-bottom: dashed 2px #b7e0ce;}
/* END NAVIGATION */



/* FOOTER STYLES*/
#footer
{ margin: auto; font-family: Georgia, Times New Roman, serif; font-size: 0.8em; color: #333; padding: 2% 5%; clear: both;}
#footer .left { text-align: left; width: 60%; }
#footer .right { text-align: right; width: 39%; padding-bottom: 30px;}
#footer .right img { float: right; display: block; clear: both;}
#footer .right span { clear: both; display: block; font-style: 'Arial', 'Helvetica', sans-serif; color: #000;}
/* END FOOTER STYLES */

/* DASHBOARD STYLES */
.key_container .col50.right.text {height: auto; min-height: 150px; padding: 3% 3% 3% 5%; border-left: dashed 3px #44403D;}
.right.text { font-family: 'GentiumBasicRegular', serif; font-size: 1.2em; color: #111; line-height: 1.5em; }


#dashboard_key_actions #new-idea em.tagline {display: block; margin: 15% 10% 5% 10%;}
label.important { display: block; font-family: 'GentiumBasicRegular', serif; font-style: italic; font-size: 1.1em; line-height: 1.3em; color: #000; margin: 2% auto; padding: 0% 2%; width: 85%;}
.invisible { visibility: hidden; }
input.text.important {display: block; font-family: 'GentiumBasicRegular', serif; font-size: 1.3em; line-height: 1.5em; color: #222; border: solid 1px #777; background-color: #CCC; margin: 0% auto 2% auto; padding: 2%; width: 80%}
input.search.important { padding: 3%;  background-color: #666; border: 1px solid #333; font-size: 18px; color: #E1E1E1; font-family: 'GentiumBasicRegular';}

input.password.important {display: block; font-family: 'GentiumBasicRegular', serif; font-size: 1.3em; line-height: 1.5em; color: #222; border: solid 1px #777; background-color: #fffed0; margin: 2% auto; padding: 2%; width: 80%}

input.text.important:focus, input.password.important:focus {background-color: #FFF;}
input.search.important:focus, input.search.important:focus {background-color: #E1E1E1; color: #222; }

/* END DASHBOARD STYLES */

/* IDEA LISTING STYLES */
#ideas { width: 90%; margin: 5% auto; }
#ideas ul#ideas-list { width: 100%; margin: 0; padding: 0; list-style: none; }
#ideas ul#ideas-list li { display: block; width: 85%; height: 50px; overflow: hidden; padding: 0 5% 0 65px; margin: 2% 0;  line-height: 50px; height: 50px; color: #333; background: #b7e0ce url(../images/misc/idea_line_left_bullet.png) no-repeat; }
#ideas ul#ideas-list li div.idea-title {float: left; font-family: 'GentiumBasicRegular', serif; font-size: 1.4em; }
#ideas ul#ideas-list li div.idea-title a { color: #333; text-decoration: none; }
#ideas ul#ideas-list li div.controls { display: inline; float: right; }
#ideas ul#ideas-list li div.controls form, #ideas ul#ideas-list li div.controls input { display: inline; }
/*#ideas ul#ideas-list li div.controls .edit-link, #ideas ul#ideas-list li div.controls .delete-link { background-color: #2c2825; color: #d99e9a; font-size: 1.2em; padding: 2% 0; text-decoration: none; padding: 8px;}
#ideas ul#ideas-list li div.controls .delete-link {display: inline; border: none; text-decoration: none;}
#ideas ul#ideas-list li div.controls .edit-link:hover, #ideas ul#ideas-list li div.controls .delete-link:hover { background-color: #2c2825; color: #d99e9a; }
*/
#ideas ul#ideas-list li div.controls a { font-family: 'GentiumBasicRegular', serif; font-size: 1.2em; font-style: italic; padding: 8px; text-decoration: none;}
#ideas ul#ideas-list li div.controls a:hover { font-style: normal;}
#ideas ul#ideas-list li div.controls a.edit-link { color: #666; }
#ideas ul#ideas-list li div.controls a.edit-link:hover, #ideas ul#ideas-list li div.controls a.delete-link:hover { color: #222; }
#ideas ul#ideas-list li div.controls a.delete-link { color: #999; }

/* END IDEA LISTING STYLES */

/* WELCOME BANNER */
.welcome.message { font-family: 'GentiumBasicRegular', 'Times New Roman', serif; font-size: 1.4em; color: #333; font-style: italic; margin: 2% 2%; }
.welcome.banner { width: 100%; margin: 0; padding: 0; background-color: #AAA; border-top: 3px dashed #44403D; border-bottom: 3px dashed #44430D; height: 300px; }
div.col30 { float: left; margin: 3%; }
/* END WELCOME BANNER */

/* SIGNUP PAGE */
#signup_form, #edit_registration_form { height: 100%; background-color: #EEE; margin-top: 2%; margin-left: 2%; }
#signup_body_text, #edit_registration_body_text { margin: 2% 2% 2% 0; background-color: #DDD; padding: 2.5%; border-left: 3px dashed #2c2825;  }
/* END SIGNUP PAGE */

/* ERROR AREAS */
#error_explanation { width: 80%; padding: 2%; margin: 2% auto; background-color: #f1d3d1; border: solid 2px #d99e9a; }
#error_explanation h2 { display: none; }
#error_explanation ul { list-style: none; }
#error_explanation li { font-family: 'GentiumBasicRegular', 'Times New Roman', serif; font-size: 1.0em; line-height: 1.2em; color: #222; }

a.bar-button { float: right; background: transparent no-repeat top center; color: #444; text-decoration: none; padding-top: 30px; font-size: 0.7em; width: 35px; text-align: center; margin-top: -1%; }
a.bar-button:hover { text-decoration: underline; color: #222; }
a.bar-button.print { background-image: url(../images/print.png)}
a.bar-button.print:hover { background-image: url(../images/print_hover.png);}
a.bar-button.edit { background-image: url(../images/edit.png)}
a.bar-button.edit:hover { background-image: url(../images/edit_hover.png);}
a.bar-button.tags { background-image: url(../images/tags.png)}
a.bar-button.tags:hover { background-image: url(../images/tags_hover.png)}

/* TAGS */
div.tagsinput { margin: 1% 5% 0 10%; }
.idea-tags-container label
{
    display: block;
    font-size: 1.3em;
    color: #222;
    font-family: 'GentiumBasicRegular', serif;
    background: transparent url(../images/tags.png) no-repeat top left;
    padding-left: 35px;
    height: 30px;
    line-height: 30px;
    margin-left: 5%;
}

/* EDIT ACCOUNT */
#edit_registration_form #cancel-account { margin: 5% auto; width: 80%; background: #d99e9a; padding: 2%; clear: both; color: #222; border: solid 1px #999; }
#edit_registration_form #cancel-account h3 { font-family: 'GentiumBasicRegular', 'Times New Roman', serif; font-size: 1.2em; color: #222; font-style: italic; margin: 1% auto;}
#edit_registration_form #cancel-account p { font-family: 'GentiumBasicRegular', serif; font-size: 1.0em; color: #111; }
#edit_registration_form #cancel-account p a { color: #000; }



#welcome-banner { height: 300px; width: 100%; margin: 5% auto 2% auto; background-color: #CCC; }
#welcome-banner #hello { background-color: #D1D1D1; float: left; width: 45%; }
#welcome-banner #carousel { background-color: #999; float: left; width: 45%; }
#keyfeatures { margin: 2.5%; background-color: #CCC; min-height: 300px; }
#keybuttons { margin: 2.5%; background-color: #DDD; min-height: 300px; }


a.facebook-button { width: 180px; margin: 2% 0 2% 8%; background: #6d84b4; height: 28px; color: #EFEFEF; text-decoration: none; font-size: 0.8em; font-weight: bold; line-height: 28px; float: left; padding: 5px; text-align: center; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;  -o-border-radius: 5px;
 }

a.facebook-button:link, a.facebook-button:visited {
    color: #FFF;
    background-color: #6d84b4;
    transition: color .1s linear, background-color .1s ease-in;
    -webkit-transition: color .1s linear, background-color .1s ease-in;
    -moz-transition: color .1s linear, background-color .1s ease-in;
    -o-transition: color .1s linear, background-color .1s ease-in;
}

a.facebook-button:hover {
    color: #EFEFEF;
    background-color: #3b5998;
    transition: color .1s linear, background-color .1s ease-in;
    -webkit-transition: color .2s ease-in, background-color .2s linear;
    -moz-transition: color .1s linear, background-color .1s ease-in;
    -o-transition: color .1s linear, background-color .1s ease-in;
box-shadow: 0 0 5px 5px #888; -webkit-box-shadow: 0 0 5px 2px #888; -moz-box-shadow: 0 0 5px 5px #888; -o-box-shadow: 0 0 5px 5px #333;
}



input.button
{
    display: inline;
    line-height: 30px;
    min-width: 150px;
    
    /* Fallback for older browsers */
    background-color: #2c2825;
    border: none;
    padding: 5px;
    
    /* Text styles */
    font-family: 'UbuntuBold', sans-serif;
    font-size: 24px;
    color: #999;
    
    float: right;
    /* CSS3 */
    background: -webkit-gradient(linear, top left, bottom left, from(#514a45), to(#2c2825));
    background: -moz-linear-gradient(90deg, #514a45, #2c2825);
    box-shadow: 0px 0px 5px #888;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
}

input#idea_submit.button:hover
{
    color: #b7e0ce;
    box-shadow: 0px 0px 10px #333;
    -moz-box-shadow: 0px 0px 10px #333;
    -webkit-box-shadow: 0px 0px 10px #333;
}
    
