<div class="well">
	<%= link_to 'Add Plot Point', PlotPoint, :method => :post, :class => 'btn btn-primary btn-large btn-block' %>
	<hr />
	<ul class="nav nav-list">
		<li class="nav-header">Available Characters</li>
		<% 5.times do %>
		<li>
			<div class="media">
  				<a class="pull-left" href="#">
    				<img class="media-object" src="http://placehold.it/32x32">
  				</a>
  				<div class="media-body">
    				<h4 class="media-heading">Media heading</h4>
    			</div>
    		</div>
    	</li>
		<% end %>
	</ul>

	<h5>Available Characters</h5>
	<ul class="thumbnails">
		<% 5.times do %>

  		<li class="span6 two-up-grid">
    		<a href="#" class="thumbnail">
      			<img src="http://placehold.it/300x200" alt="">
    		</a>
  		</li>
  		<% end %>
  	</ul>

  	<h5>Available Objects</h5>
  		<ul class="thumbnails">
		<% 5.times do %>
  		<li class="span6 two-up-grid">
    		<a href="#" class="thumbnail">
      			<img src="http://placehold.it/300x200" alt="">
    		</a>
  		</li>
  		<% end %>
  	</ul>
</ul>

</div>