#user_login_container{:class => 'key_container'}
  = render :partial => "admin_users/sessions/form", :locals => {:resource => resource, :resource_name => resource_name, :devise_mapping => devise_mapping }


